body, p ,h1, h2, h3{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    color:rgb(66, 53, 33);
    background-image: url(images/field1.png);
    /* background-position: center; */
     background-repeat: no-repeat; 
     background-size:cover; 
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    
}
#tom, #resident{
    padding-top:100px;
}
h2 {
    margin: 0;
    font-size: 1.2em;
    color:white;
    text-align: center;
    
}
header img{
margin:auto;
position:absolute;
left:50%;
transform:translateX(-50%);

}
#game {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    max-width: 1000px;
    margin:auto;
}

.health {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    color:white;
}

#healthbar0, #healthbar1 {
    width: 75%;
    height: 30px;
    border: 2px solid #333;
    position: relative;
    overflow: hidden;
    
}

#healthbar0 div, #healthbar1 div{
    width: 100%;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(1,148,57,1) 0%, rgba(68,203,120,1) 50%, rgba(1,148,57,1) 100%);
}

#action {
    max-width: 1000px;
    text-align: center;
    padding: 10px;
    margin: auto;
    background-color: blanchedalmond;
    border-radius: 100px;
    /* box-sizing: border-box; */
}

.hidden {
    visibility: hidden;
    opacity: 0;
}

.showing {
    visibility: visible;
    opacity: 1;
}
#start{
    background-color: green;
    color:white;
    border-radius: 20px;
    border:none;
    padding:10px;
}
#start:hover{
    background-color: rgb(21, 74, 21);
}
#messages p {
    padding:10px;
}
#attack1{
    margin:auto;
    background-color: rgb(93, 200, 224);
    color:white;
    border-radius: 20px;
    border:none;
    padding:10px;}
#attack2{
    margin:auto;
    background-color: rgb(224, 93, 126);
    color:white;
    border-radius: 20px;
    border:none;
    padding:10px;}