body, h1, h2, h1, p{
    margin:0;
    padding:0;
    font-family: 'poppins';
    font-weight: 300;
    
}
body{
    background-color:#CBE9FB;
}

h1{
    font-family: 'poppins';
    font-weight: 400;
}
h2{
    font-family: 'poppins';
    font-weight: 500;
}
header img{
    padding:5px;
}
header h1{
    font-size: 25px;
    color:rgb(255, 255, 255);
    padding:10px;
}
header h2{
    font-family: modak;
    font-size: 45px;
    padding:10px;
    color:rgb(68, 97, 148);
    margin:auto;
}


@keyframes slide {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-4577px); /* The image width */
    }
  }

#banner{
    overflow:hidden;
   padding:10px;
}
#cloud{
    background:url(images/clouds.png) repeat-x;
    width:9170px;
    height:195px;
    animation:slide 35s linear infinite;
    padding-bottom:30px;
}
@keyframes bgcolor {
    0% {
        background-color: #CBE9FB
    }

    30% {
        background-color: #edb1f6
    }

    60% {
        background-color: #f2b8cd
    }

    90% {
        background-color: rgb(244, 165, 119)
    }

    100% {
        background-color: #CBE9FB;
    }
}
#banner:hover{
    animation:bgcolor 15s linear;
}
main{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    gap:20px;
    margin:auto;
    padding-top:10px;
    padding-bottom:10px;
}

section{
    padding:10px;
    background-color: white;
    width:250px;
    height:auto;
    margin:auto;
    border-radius: 10px;
    border: 2px dashed rgb(68, 97, 148);
    
}
section a:hover{
    color:pink;
    margin-left:10px;
}

section h2{
    color:rgb(68, 97, 148);
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    color:rgb(108, 144, 127);
}

footer a{
    color:rgb(53, 66, 120);

}
footer{
    margin:0;
    text-align: center;
    padding:30px;
    margin:auto;
    background-color: #f2b8cd;
}

@media (min-width:700px){

    main{
        flex-direction:row;
        gap:20px;
        padding:50px;
        padding-bottom: 10px;
        align-items: flex-start;
        justify-content: center;
    }
    #title{
        /* display:flex; */
        padding-top:10px;

    }
    #title img{
        display: block;
        margin:auto;
    }
    header h2{
        margin:auto;
        text-align: center;
        font-size: 55px;
        padding-bottom:5px;
        
    }
    section{    
        margin:0;
        }

}