body,main,h1, h2, h3{
    margin:0;
    padding:0;
    font-family: 'Darumadrop One';
    font-weight: 400;
    color:darkslategrey;
}
header{
    padding:20px;
    
}
.hidden{
    visibility:hidden;
    opacity: 0;
}
h1{
    font-size: 45px;
    color:rgb(156, 27, 27);
    padding:10px;
    
}
h2{
    margin:auto;
    padding:15px;
    max-width: 460px;
}

input[type="text"]{
    display:block;
    background-color: rgb(221, 221, 221);
    border:0;
    border-radius: 5px;
    margin:0;
    
    
}

input[type="text"]:focus {
    
    background-color: white;
    
   
}
input[type="submit"]{
    padding:10px;
    margin-top: 20px;
    color:white;
    background-color:rgb(104, 168, 104);
    border:0;
    border-radius: 50px;
}

form {
    margin:auto;
    text-align: center;
    width:200px;
    line-height: 1.5em;
    padding:20px;
}
#formstyle{
    background-color: rgb(243, 243, 243);
    margin:auto;
    box-shadow: 10px 10px 5px rgba(43, 78, 57, 0.709);
  
}

label{
    /* margin-left: auto;
    margin-right:auto; */
    display: block;
    text-align: left;
}

footer{
    padding:20px;
    margin:auto;
    text-align: center;
}
article{
    line-height: 1.6em;
    background-color: rgb(243, 243, 243);
    margin:auto;
    padding:10px;
    
}
#green{
    background-color: transparent;
    height:50px;
}
main{
    background-color: rgb(180, 208, 181);
}
body{
    background-image: url(images/pawprint.jpg);
    
}
img{
    display:block;
    margin:auto;
}
.userInput{
    color:lightcoral;
}
#logo{
    float:right;
}

@media screen and (min-width: 700px) {
    body{
        width:900px;
        margin:auto;
    }
    article{
        width:800px;
    }
    #formstyle{
        width:500px;
    }
}